*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.main-card{
   max-width: 300px;
   width:100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
   padding: 25px;
   
   border-radius: 25px;
   background-color: #fff;

   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;

}

.main-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: orangered;
    width: 100%;
    height: 36%;
    border-radius: 25px 25px 0 0;
}

.image{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: orangered;
    border-radius:50%;
    padding: 3px;
    


}
.image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;

}

.text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0px;
}
.name{
    font-size: 20px;
    font-weight: 600;

}
.job{
    font-size: 12px;
}


.media{
    display: flex;
    align-items: center;
}

.media a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 34px;
    width: 34px;
   
    border-radius: 50%;
    text-decoration: none;
    margin: 0px 0px 0px 10px ;
}

.media a:nth-child(1){
    background-color: #4267b2;
}
.media a:nth-child(2){
    background-color: #1da1f2;
}
.media a:nth-child(3){
    background-color: #e1306c;
}
.media a:nth-child(4){
    background-color: #ff0000;
}

.buttons{
    display: flex;
    align-items: center;

}

.buttons button{
    background-color: orangered;
    border: none;
    border-radius:25px;
    padding: 10px 30px;
    color: white;
    margin: 15px 8px;
    transition: all 0.3s ease;


}

button:hover{
    background-color: rgb(232, 64, 3);
}